<!DOCTYPE html>
<html>
<head>
    <title>Coffee Shop Recommender</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="data:image/x-icon;,”>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>☕</text></svg>">
</head>
<body class="bg-brown-lightest">
    <header class="bg-brown-dark text-white py-6 px-6">
        <h1 class="text-center text-4xl font-bold">Welcome to the Coffee Shop Recommender</h1>
    </header>
    <div class="container mx-auto py-6">
        <img src="{{url_for('static', filename='ico/coffee-icon.png')}}" alt="coffee-icon" class="mx-auto">
        <button id="get-location" class="bg-brown-dark hover:bg-brown-darker text-white font-bold py-2 px-4 rounded-full">Get your location</button>
        <div id="coffee-shops" class="py-6"></div>
    </div>
    <script src="{{url_for('static', filename='js/location.js')}}"></script>
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
</body>
</html>



